.sweet-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out;
  z-index: 999; /* Ensure it's above other content */
}

.fade-out {
  opacity: 0;
}

.preloader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.blank{
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}